# requirements.in
# This is the source file for our pinned version requirements file "requirements.txt"
# To regenerate that file pip-tools is required (python -m pip install pip-tools).
# then run: `pip-compile --generate-hashes src/tools/tidy/config/requirements.in`

black==23.3.0
ruff==0.0.272
